@font-face {
    font-family: "Otomanopee One";
    src: url("/assets/fonts/OtomanopeeOne-Regular.ttf") format("truetype");
}

* {
    --backgroundColor: #cfccc6;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: "Otomanopee One";
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 60px;
    width: 60px;
}

.header p {
    white-space: nowrap;
    align-self: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 10px;
    color: #4f4733;
}

.main-body {
    background-color: white;
}
