* {
	--backgroundColor: #cfccc6;
}

body, html {
	margin: 0;
	padding: 0;
	background-color: var(--backgroundColor);
}

.header {
	display: flex;
	justify-content: space-between;
}

.header img {
	height: 60px;
	width: 60px;
}

.header p {
	white-space: nowrap;
	align-self: center;
	font-weight: bold;
	font-size: 15px;
	margin-left: 30px;
	margin-right: 10px;
	color: white;
}

.main-body {
	background-color: white;
}
