@font-face {
    font-family: "Otomanopee One";
    src: url("/assets/fonts/OtomanopeeOne-Regular.ttf") format("truetype");
}

* {
    --backgroundColor: #cfccc6;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: "Otomanopee One";
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 60px;
    width: 60px;
	margin-top: 10px;
	margin-left: 7px;
}

.header p {
    white-space: nowrap;
    align-self: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 10px;
    color: #4f4733;
}

.main-body {
    background-color: white;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
}

.main-body .notifications-header-text {
	font-size: 12px;
}

.main-body .notifications div {
	display: flex;
	justify-content: space-between;
}

.main-body .notifications:first-child {
	margin-top: -5px !important;
}

.main-body .notifications .notify-btn {
	cursor: pointer;
	outline: none;
	margin-top: 12px;
	border-radius: 10px;
	height: 60%;
	padding: 5px;
}

.main-body .notifications .notify-btn:hover {
	opacity: 0.9;
}
