@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DMSans";
    src: url(data-base64:~assets/fonts/Regular.ttf) format("truetype");
    font-display: swap;
}
